<div class="columns">
  <div class="column col-12 card">
    <div class="card-header">
      <div class="card-title h5">Histori Kehadiran</div>
    </div>
    <div class="card-body">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-3 col-sm-3">
            <label class="form-label" for="input-example-1">Jabatan</label>
          </div>
          <div class="col-9 col-sm-9">
            <select v-model="form.position" class="form-select" @change="onPosition">
              <option value="0">Pilih</option>
              <option v-if="$parsemi.isPos('Kepala Sekolah')" value="Kepala Sekolah">Kepala Sekolah</option>
              <option v-if="$parsemi.isPos('Bendahara')" value="Bendahara">Bendahara</option>
              <option v-if="$parsemi.isPos('Guru')" value="Guru">Guru</option>
              <option v-if="$parsemi.isPos('Wali Kelas') || $parsemi.isPos('Kepala Sekolah')" value="Wali Kelas">Wali Kelas</option>
              <option v-if="$parsemi.isPos('Siswa')" value="Siswa">Siswa</option>
            </select>
          </div>
        </div>
        <div class="form-group" v-if="isShow.room">
          <div class="col-3 col-sm-3">
            <label class="form-label" for="input-example-1">Kelas</label>
          </div>
          <div class="col-9 col-sm-9">
            <select v-model="form.room" class="form-select" @change="changeRoom">
              <option value="0">Pilih</option>
              <option v-for="(item, index) in rooms" :value="(index+1)">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" v-if="isShow.schedule">
          <div class="col-3 col-sm-3">
            <label class="form-label" for="input-example-1">Jadwal</label>
          </div>
          <div class="col-9 col-sm-9">
            <select v-model="form.schedule" class="form-select">
              <option value="0">Semua (Log Sendiri)</option>
              <option v-for="(item, index) in allSchedule" :value="(index+1)">({{item.room.name}}) {{item.subject.name}} ({{$parsemi.hDow(item.dow)}}/{{item.hourStart}})</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-3">
            <label class="form-label" for="input-example-1">Bulan</label>
          </div>
          <div class="col-9 col-sm-9">
            <select v-model="form.dMonth" class="form-select">
              <option value="2021-01">Januari 2021</option>
              <option value="2021-02">Februari 2021</option>
              <option value="2021-03">Maret 2021</option>
              <option value="2021-04">April 2021</option>
              <option value="2021-05">Mei 2021</option>
              <option value="2021-06">Juni 2021</option>
            </select>
          </div>
        </div>
        <div class="form-group" v-if="isShow.room && totalData">
          <div class="col-3 col-sm-3">
            <label class="form-label" for="input-example-1">Total (Σ)</label>
          </div>
          <div class="col-9 col-sm-9">
            <label class="form-switch">
              <input type="checkbox" v-model="isByAll" @click="byAll">
              <i class="form-icon"></i> Berdasarkan keseluruhan
            </label>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <button @click="onSubmit" class="btn btn-primary">Lihat Log</button>
        </div>
      </div>
    </div>
  </div>
  <Chart v-if="(isShow.room || form.position == 'Kepala Sekolah') && chartData && chartData.Total > 0" :data="chartData" :refer="refer" />
  <PresenceList :presences="presences" :bySchedule="bySchedule" />
 </div>