<div v-if="user" class="tile tile-centered">
  <div class="tile-content">
    <div class="tile-title text-bold">{{user.name}} <span v-if="user.objectId == uIndex" class="badge"></span>
</div>
    <div v-html="presenceStat()">
    </div>
  </div>
  <div v-if="isPresenced()" class="btn-group">
    <div v-html="presenceStatus()"></div>
    <button v-if="$parsemi.isPos('Guru')" @click="removePresence()" class="btn btn-default"><i class="icon icon-cross"></i></button>
  </div>
  <div v-if="!isPresenced() && $parsemi.isPos('Guru')" class="tile-action">
    <div class="dropdown dropdown-right">
      <div class="btn-group">
        <a class="btn btn-success" @click="onPresence('Tepat')">Tepat</a>
        <a class="btn" @click="onPresence('Lambat')">Lambat</a>
        <a class="btn btn-error dropdown-toggle" tabindex="0"><i class="icon icon-arrow-down"></i></a>
        <ul class="menu" style="margin-bottom: 70px;">
          <li class="menu-item">
            <a @click="onPresence('Dispen')">Dispen</a>
          </li>
          <li class="menu-item">
            <a @click="onPresence('Sakit')">Sakit</a>
          </li>
          <li class="menu-item">
            <a @click="onPresence('Izin')">Izin</a>
          </li>
          <li class="menu-item">
            <a @click="onPresence('Alpa')">Alpa</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>