<div class="columns">
  <div v-if="schedule && room" class="column col-12 card">
    <div class="card-header" :style="{ 'background-image': 'url(' + iBgCardO + ')' }">
      <div class="card-title h5">{{schedule.subject.name}}</div>
      <div class="card-subtitle"><i class="icon icon-flag"></i> {{room.name}} &nbsp; <i class="icon icon-people ml-10"></i> {{room.users.length}} Orang
      <span class="ml-10 c-hand" @click="clickMessage" v-if="!isMessage"> &nbsp; <span class="label badge" :data-badge="messages.length"><i class="icon icon-message"></i> Pesan</span></span>
      <span class="ml-10 c-hand" @click="clickMessage" v-if="isMessage && isGuru"> &nbsp; <span class="label"><i class="icon icon-check"></i> Presensi</span></span>
      </div>
    </div>
    <Tokenize v-if="isGuru" :tokenRef="schedule" />
    <div class="card-body" v-if="loaded && !isMessage">
      <template v-for="(user, index) in room.users" >
        <TilePresence :schedule="schedule" :user="user" :index="index" :uIndex="uIndex" @update="updateUser" :key="index" />
      </template>
    </div>
    <div class="card-body" v-if="loaded && isMessage">
      <Message :messages="messages" :messageKey="schedule.objectId" />
    </div>
  </div>
</div>