.mw-400 {
  min-width: 400px;
}
.mw-300 {
  min-width: 330px;
}
.btn.btn-link:focus, .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link.active {
  color: #e91e63 !important;
}
.column {
  padding: 0 !important;
}