<div class="columns">
  <div class="column col-12 panel">
    <div class="panel-header text-center" :style="{ 'background-image': 'url(' + iBgCardO + ')' }">
      <figure class="avatar avatar-lg"><img :src="iUser" alt="Avatar"></figure>
      <div class="panel-title h5 mt-10">{{user.name}}</div>
      <div class="panel-subtitle">{{user.position.join(', ')}}</div>
    </div>
    <div class="panel-body">
      <div class="tile tile-centered">
        <div class="tile-content">
          <div class="tile-title">Persentase Kehadiran / Jadwal</div>
          <small class="tile-subtitle text-primary"><i class="icon icon-share"></i> {{(graph.Tepat+graph.Lambat)}}/{{graph.totalSchedule}}</small>
          <div class="bar" v-html="getGraph(1)"></div>
        </div>
      </div>
      <div class="tile tile-centered">
        <div class="tile-content">
          <div class="tile-title">Persentase Tepat Waktu</div>
          <small class="tile-subtitle text-primary"><i class="icon icon-share"></i> {{(graph.Tepat)}}/{{graph.Tepat+graph.Lambat}}</small>
          <div class="bar" v-html="getGraph(2)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-1"></div>
  <div v-if="scCount > 0" class="toast toast-error text-center">
    <router-link to="/schedule">
    Anda memiliki <b>{{scCount}} jadwal hari ini <i class="icon icon-arrow-right anim-left"></i></b>
    </router-link>
  </div>
  <div class="m-1"></div>
  <div class="column col-12 card">
    <div class="card-header">
      <div class="card-title h5">Histori Kehadiran Anda</div>
      <div class="card-subtitle text-primary">{{$parsemi.today().hMonth}}</div>
    </div>
  </div>
  <PresenceList :presences="history" />
</div>